<script>
    $(document).ready(function () {
        document.getElementById("reset-query-button")
            .addEventListener("click", function () {
                QueryHandler.reset();
            });
        QueryHandler.addQuery()

        // Check if the button element with ID "add-query-button" exists
        if (document.getElementById("add-query-button")) {
            // Add the event listener only if the button exists
            document.getElementById("add-query-button")
                .addEventListener("click", function () {
                    QueryHandler.addQuery();
                });
        }
    });

    function initQueryFrame() {
        const swapSelections = document.querySelectorAll('.swap-select');
        // Add a click event handler to each element
        swapSelections.forEach(function (element) {
            element.addEventListener('click', function () {
                swapSelect(element);
            });
        })

        // get all elements of class dataset-select
        const datasetSelect = document.querySelectorAll('.dataset-select');
        // Add a click event handler to each element
        datasetSelect.forEach(function (element) {
            element.addEventListener('click', function () {
                var queryFrame = element.closest('.query-frame');
                var elementsWithDatasetAttribute = queryFrame.querySelectorAll('[data-type="dataset"]');
                elementsWithDatasetAttribute.forEach(function (element_) {
                    element_.innerText = element.value;
                });
            });
        });


        const dataQueries = document.querySelectorAll('[data-query]')
        console.log(dataQueries)

        dataQueries.forEach(function (element) {
            element.addEventListener('click', function () {
                var queryFrame = element.closest('.query-frame');
                var elementsWithDatasetAttribute = queryFrame.querySelectorAll('[data-link="query"]');
                elementsWithDatasetAttribute.forEach(function (element_) {
                    element_.value = element.getAttribute('data-query');
                    console.log(element_.value)
                });
            });
        });


        // get all elements of class time-range-select
        const timeRangeSelect = document.querySelectorAll('.time-range-select');
        // Add a click event handler to each element
        timeRangeSelect.forEach(function (element) {
            console.log("element", element);
            console.log("value", element.value);
            element.addEventListener('click', function () {
                var queryFrame = element.closest('.query-frame');
                console.log("query frame", queryFrame)
                var elementsWithDatasetAttribute = queryFrame.querySelectorAll('[data-type="time-interval"]');
                elementsWithDatasetAttribute.forEach(function (element_) {
                    element_.innerText = "Range"// element.value;
                });
            });
        });

        //handle sub-select
        const swapSubSelections = document.querySelectorAll('.swap-sup-select');
        // Add a click event handler to each element
        swapSubSelections.forEach(function (element) {
            element.addEventListener('click', function () {
                var queryFrame = element.closest('.dropdown');
                var selectMain = queryFrame.querySelector('.sub-select-main');
                var selectMainInnerHTML = selectMain.innerHTML;
                selectMain.innerHTML = element.innerHTML;
                //trim white space
                var elementValue = element.innerHTML.replace(/\s/g, '');
                console.log("elementValue", elementValue)
                var queryFrame = element.closest('.query-frame');
                var hiddenInput = queryFrame.querySelector('input[data-link="data-set"]');
                hiddenInput.value = elementValue
                selectMain.setAttribute("data-value", elementValue);
                init_slider("slider-stations", [1,200,500] , {} , queryFrame  )
            });
        })

        //handle query submit
        const querySubmit = document.querySelectorAll('.query-submit');
        // Add a click event handler to each element
        querySubmit.forEach(function (element) {
            element.addEventListener('click', function (event) {
                event.preventDefault()
                var queryFrame = element.closest('.query-frame');
                //update time stamp
                set_query_values(element);
            })
        })


        $('.form-info').popover({
            placement: 'top', // Set the popover placement
            trigger: 'hover', // Trigger the popover when the element is focused
            content: function () {
                return $(this).data('content'); // Get the content from the data attribute
            },
        });

        init_slider("slider-time",timeTicks , {  1: "Minute",
                                        2: "Hour",
                                        3: "Day",
                                        4: "Week",
                                        5: "Month" })
        init_slider("slider-sensors", sensorTicks)
        init_slider("slider-stations", stationTicks)

    }

</script>

<script>

    function get_random_time_stamp() {
        return timeStamp.pop()
    }

    function set_query_values(element) {
        var queryFrame = element.closest('.query-frame');
        var formValues = get_slider_values(element);
        console.log("formValues", formValues)
        var timeStamp = get_random_time_stamp();
        var elementsWithDatasetAttribute = queryFrame.querySelectorAll('[data-type="time-stamp"]');
        elementsWithDatasetAttribute.forEach(function (element_) {
            element_.innerText = timeStamp;
        });
        {#queryFrame.find('[data-link="time-stamp"]').val(timeStamp);#}

        var stations = formValues["stations"]
        var sensors = formValues["sensors"]

        // change s_i , s_j to s_1, s_2,
        // change s_avg to s_1, s_2, s_3
        var s_i = queryFrame.querySelectorAll('.s_i');
        s_i.forEach(function (element) {
            element.innerText = "s" + 1
        })
        var s_j = queryFrame.querySelectorAll('.s_j');
        s_j.forEach(function (element) {
            element.innerText = "s" + sensors
        })

        var s_avg = queryFrame.querySelectorAll('.s_avg');
        var avgText = ""
        if (sensors === 1) {
            avgText = "AVG(s1)"
        } else {
            avgText = "AVG(s1)...AVG(s" + sensors + ")"
        }
        s_avg.forEach(function (element) {
            element.innerText = avgText
        })

        var st_list = queryFrame.querySelectorAll('.st_list');
        var st_list_text = ""
        if (stations === 1) {
            st_list_text = "(s1)"
        } else if (stations === 2) {
            st_list_text = "(s1,s2)"
        } else {
            st_list_text = "(s1,...,s" + stations + ")"
        }
        st_list.forEach(function (element) {
            element.innerText = st_list_text
        })

        s_list = queryFrame.querySelectorAll('.s_list');
        var s_list_text = ""
        if (sensors === 1) {
            s_list_text = "s1"
        } else if (sensors === 2) {
            s_list_text = " s1, s2"
        } else {
            s_list_text = "s1,...,s" + sensors + ""
        }
        s_list.forEach(function (element) {
            element.innerText = s_list_text
        })
    }

    function swapSelect(divElement) {
        var dataToggle = divElement.children[0].getAttribute("data-toggle");

        var queryFrame = divElement.closest('.query-frame');
        var selectMain = queryFrame.querySelector('.select-main');

        var selectMainInnerHTML = selectMain.innerHTML;
        selectMain.innerHTML = divElement.innerHTML;
        // divElement.innerHTML = selectMainInnerHTML ;

        var contentDiv = queryFrame.querySelector('.query-content');
        // set the direct children to be visible if id = select-dataToggle
        var children = contentDiv.children;
        for (var i = 0; i < children.length; i++) {
            var child = children[i];
            if (child.parentElement !== contentDiv) {
                continue;
            }
            if (child.classList.contains("select-" + dataToggle)) {
                child.style.display = "block";
            } else {
                child.style.display = "none";
            }
        }
    }

    function addFrequencyInput(value, name) {
        // Create a container div
        var containerDiv = document.createElement("div");
        containerDiv.classList.add("frequency-input-container");

        // Create a label element
        var label = document.createElement("label");
        label.htmlFor = "frequency-input";
        label.textContent = name;

        // Set styles for centering the label
        label.style.display = "block";
        label.style.textAlign = "center";

        // Append the label to the container div
        containerDiv.appendChild(label);

        // Create an input element
        var input = document.createElement("input");
        input.type = "number";
        input.className = "frequency-input";
        input.name = "frequency";
        input.min = "0";
        input.max = "100";
        input.value = value;
        input.style.width = "50px";
        input.style.marginLeft = "5px"; // Add padding to the input

        // Append the input to the container div
        containerDiv.appendChild(input);

        // Get the parent element where you want to append the structure
        var parentElement = document.getElementById("frequency-query");

        // Append the container div to the parent element
        if(parentElement){
            parentElement.appendChild(containerDiv);
        }

        return input;
    }


    const QueryHandler = {
        queryFrames: [],
        frequencyInputs: [],
        addQuery: function () {

            if (this.queryFrames.length > 0) { //only works every other time shomehow after the first query
                initQueryFrame();
            }
            var newDiv = document.createElement("div");
            newDiv.innerHTML = queryFrameContent;
            this.queryFrames.push(newDiv);
            document.getElementById("query-frame-holder").appendChild(newDiv);
            initQueryFrame();

            // handle frequencies
            var n_queries = this.queryFrames.length
            var input = null
            if (n_queries === 1) {
                input = addFrequencyInput("100", "Q1")
            } else {
                input = addFrequencyInput("" + Math.max(0, 100 - this.frequencyInputs.reduce(function (a, b) {
                    console.log(a, b.value)
                    return parseInt(a) + parseInt(b.value)
                }, 0)), "Q" + n_queries
                )
            }

            this.frequencyInputs.push(input)
        },

        reset: function () {
            this.queryFrames.forEach(function (queryFrame) {
                queryFrame.remove();
                console.log("removed", queryFrame)
            })
            // delete all frequency-input-container
            var frequencyInputs = document.getElementsByClassName("frequency-input-container")
            for (var i = frequencyInputs.length - 1; i >= 0; i--) {
                frequencyInputs[i].remove()
            }
            this.queryFrames = [];
            this.freuquencyInputs = [];
            this.addQuery()
        },

        getFrameValues() {
            return this.queryFrames.map(function (queryFrame) {
                // get data-toggle value inside .select-main
                const projectionValue = queryFrame.querySelector('.select-main').querySelector('div').getAttribute('data-toggle')

                console.log("projectionValue", projectionValue)

                const dataSetValue = queryFrame.querySelector('.data-select-main').getAttribute('data-value')
                return {
                    projection: projectionValue,
                    dataset: dataSetValue
                }
            })
        },

        checkFrameValues() {
            // delete old error messages
            var frame_values = this.getFrameValues()
            // iterate frame values with index
            var error_message = ""
            for (var i = 0; i < frame_values.length; i++) {
                var frame_value = frame_values[i];
                // check if projection is set
                if (frame_value.projection === "0") {
                    error_message = "Please select a projection for query " + (i + 1) + "\n"
                }
                // check if dataset is set
                if (frame_value.dataset === "Dataset") {
                    error_message += "Please select a dataset for query " + (i + 1)
                }
                if (error_message !== "") {
                    // create red error message below fetchButton
                    var error_message_div = document.createElement("div")
                    error_message_div.classList.add("alert")
                    error_message_div.classList.add("alert-danger")
                    error_message_div.setAttribute("role", "alert")
                    error_message_div.classList.add("query-error-message")
                    error_message_div.innerText = error_message
                    document.getElementById("errorDisplay").appendChild(error_message_div)
                    return false

                }
            }
            document.getElementById("errorDisplay").innerHTML = ""
            return true
        },

        checkFrequencies() {
            if(!document.getElementById("frequency-query")){
                return true
            }
            var frequencyInputs = document.getElementsByClassName("frequency-input")
            var total_value = 0
            for (var i = 0; i < frequencyInputs.length; i++) {
                total_value += parseInt(frequencyInputs[i].value)
            }
            if (total_value !== 100) {
                var error_message_div = document.createElement("div")
                error_message_div.classList.add("alert")
                error_message_div.classList.add("alert-danger")
                error_message_div.setAttribute("role", "alert")
                error_message_div.classList.add("query-error-message")
                error_message_div.innerText = "Frequencies must add up to 100%"
                document.getElementById("errorDisplay").appendChild(error_message_div)
                return false
            }
            document.getElementById("errorDisplay").innerHTML = ""
            return true
        }
    };


</script>
