<script>

    function init_slider(class_ = "slider-time",
                         labels = ["Min", "H", "D", "W", "M"],
                         value_map = {}, parentElement = null
    ) {

        $("." + class_).each(function () {
            if ($(this).hasClass("ui-slider")) {
                return //continue since its already initalized
            }
            this.labels = labels

            let n_ticks = labels.length
            let initial_tick = 2

            this.updateValues = (link, value) => { // update value , value is the slider tick index
                var queryFrame = $(this).closest('.query-frame');
                if (value_map[value] === undefined) {
                    queryFrame.find('[data-link=' + class_ + ']').val(this.labels[value])
                } else (
                    queryFrame.find('[data-link=' + class_ + ']').val(value_map[value])
                )
                if (class_ === "slider-time") { // update time interval in the query frame
                    var elementsWithDatasetAttribute = queryFrame.find('[data-type="time-interval"]');
                    elementsWithDatasetAttribute[0].innerText = value_map[value];
                }
            }
            let sliderElement = this
            $(this).slider({
                range: "min",
                value: initial_tick,
                min: 0,
                max: n_ticks-1,
                step: 1,
                slide: function (event, ui) {
                    sliderElement.updateValues(class_, ui.value)
                }
            });

            // add update labels to slider element
            this.updateLabels = labels => {
                //labels = ["Min", "H", "D", "W", "M"]
                this.labels = labels
                let n_ticks = labels.length
                let initial_tick = 2

                const ticks = this.nextElementSibling

                ticks.innerHTML = ""
                //append grid 2 lines 5 columns
                flexContainer = document.createElement("div")
                flexContainer.classList.add("flex-container")
                flexContainer.style.display = "flex"
                flexContainer.style.marginRight = -100 / (n_ticks - 0.9) + "%"

                const flexContainer2 = flexContainer.cloneNode(true)

                flexItem = document.createElement("div")
                flexItem.classList.add("flex-item")
                flexItem.style.flex = "1";
                flexItem.style.border = "None";
                flexItem.style.height = "10px";
                flexItem.style.verticalAlign = "top";
                flexItem.style.overflowY = "hidden";
                flexItem.innerHTML = "<div class='vl'> </div>"

                for (i in labels) {
                    var label = labels[i]
                    var flexItem2 = flexItem.cloneNode(true)
                    flexItem2.innerHTML = "<div>" + label + "</div>"
                    flexItem2.style.overflowY = "visible";
                    flexContainer2.appendChild(flexItem2)
                }
                for (i = 0; i < n_ticks; i++) {
                    flexContainer.appendChild(flexItem.cloneNode(true))
                }
                ticks.appendChild(flexContainer)
                flexContainer2.style.marginLeft = -100 / (labels.length - 1) / 2 + "%"
                flexContainer2.style.marginRight = -100 / (labels.length - 1) / 2 + "%"
                flexContainer2.style.textAlign = "center"
                ticks.appendChild(flexContainer2)

                $(this).slider("option", "max", n_ticks-1);
                $(this).slider("option", "value", initial_tick);
                $(this).slider("option", "min", 0);

                this.updateValues(class_, initial_tick)
            }

            this.updateLabels(labels)
        })
    }

    function get_slider_values(element) {
        var queryFrame = element.closest('.query-frame');

        // Use [0] to get the first element or convert NodeList to an array
        var nStations = queryFrame.querySelectorAll('[data-link="slider-stations"]')[0].value;
        var nTime = queryFrame.querySelectorAll('[data-link="slider-time"]')[0].value;
        var nSensors = queryFrame.querySelectorAll('[data-link="slider-sensors"]')[0].value;

        return {stations: parseInt(nStations), time: nTime, sensors: parseInt(nSensors)};
    }
</script>
