<form id="generation-form">
    {% csrf_token %}

    <input type="hidden" id="datasetSelect" name="dataset" value="{{ dataset }}">

    <label for="generationLength">TS Length:</label>
    <div class="form-group " style="margin-left:0;margin-right:0">
        <select id="len_ts" class="form-control" name="len_ts"
                onchange="">
            {% for length in len_ts %}
                <option value={{ length }}>{{ length }}</option>
            {% endfor %}
        </select>
    </div>
    <label for="generationCount">#Hashtables:</label>
    <div class="form-group " style="margin-left:0;margin-right:0">
        <select id="num_hashtables" class="form-control" name="num_hashtables"
                onchange="">

            {% for count in num_hashtables %}
                <option value={{ count }}>{{ count }}</option>
            {% endfor %}

        </select>
    </div>
    <label for="generationCount">nb top:</label>
    <div class="form-group " style="margin-left:0;margin-right:0">
        <select id="nb_top" class="form-control" name="nb_top"
                onchange="">

            {% for count in nb_top %}
                <option value={{ count }}>{{ count }}</option>
            {% endfor %}

        </select>
    </div>
    <label for="generationCount">hash_length % :</label>
    <div class="form-group " style="margin-left:0;margin-right:0">
        <select id="hash_length_percentage" class="form-control" name="hash_length_percentage"
                onchange="">

            {% for count in hash_length_percentage %}
                <option value={{ count }}>{{ count }}</option>
            {% endfor %}

        </select>
    </div>
    <label for="generationCount">TS Number:</label>
    <div class="form-group " style="margin-left:0;margin-right:0">
        <select id="nb_ts" class="form-control" name="nb_ts"
                onchange="">

            {% for count in nb_ts %}
                <option value={{ count }}>{{ count }}</option>
            {% endfor %}

        </select>
    </div>

    <div class="form-group">
        <button id="generationBtn" type="button" class="btn btn-primary form-control" onclick="">Generate</button>
    </div>
</form>


<script>
    var url = "{% url 'generation' dataset=dataset %}";
    console.log(url)

    function select_dataset() {
        var form = $('#generation-form');
        var data = form.serialize()+"&generate=false";
        return $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function (data) {
                console.log(data)
            }
        });
    }


    function getGeneratedDatasets() {
        $('#generationBtn').addClass("disabled")
        var form = $('#generation-form');
        var data = form.serialize()+"&generate=true";
        return $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function (data) {
            }
        });
    }

</script>
