<form id="generation-form">
    {% csrf_token %}

    <input type="hidden" id="datasetSelect" name="dataset" value="{{ dataset }}">

    <label for="generationLength">TS Length:</label>
    <div class="form-group " style="margin-left:0;margin-right:0">
        <select id="generationLength" class="form-control" name="generationLength"
                onchange="">

            {% for length in generation_lengths %}
                <option value={{ length }}>{{ length }}</option>
            {% endfor %}

        </select>
    </div>

    <label for="generationCount">TS Number:</label>
    <div class="form-group " style="margin-left:0;margin-right:0">
        <select id="generationCount" class="form-control" name="generationCount"
                onchange="">

            {% for count in generation_counts %}
                <option value={{ count }}>{{ count }}</option>
            {% endfor %}

        </select>
    </div>

    <div class="form-group">
        <button id="generationBtn" type="button" class="btn btn-primary form-control" onclick="">Generate</button>
    </div>
</form>


<script>
    var url = "{% url 'generation' dataset=dataset %}";
    console.log(url)

    function select_dataset() {
        var form = $('#generation-form');
        var data = form.serialize()+"&generate=false";
        return $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function (data) {
                console.log(data)
            }
        });
    }


    function getGeneratedDatasets() {
        var form = $('#generation-form');
        var data = form.serialize()+"&generate=true";
        return $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function (data) {
                console.log(data)
            }
        });
    }

</script>
