{% extends "base.html" %}
{% load static %}


{#context contains: data_sets  #}
{% block content_fluid %}
    <style>
        #loading-info {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px; /* Adjust the height as needed */
        {#background-color: #f0f0f0; /* Optional: for better visibility of the div */#}
        }
    </style>
    <script>
        let gif_src = "https://i.gifer.com/ZKZg.gif" //https://i.gifer.com/ZKZg.gif
        function showLoadingGif() {
            var loadingDiv = document.getElementById('loading-info');
            loadingDiv.innerHTML = '<img src="' + gif_src + '" alt="Loading..."  style="width: 100px; height: 100px;">';
        }

        function hideLoadingGif() {
            var loadingDiv = document.getElementById('loading-info');
            loadingDiv.innerHTML = '';
            // append large button to gif
            {#var btn = document.createElement("button");   // Create a <button> element#}
            {#btn.innerHTML = "Store"#}
            {#btn.className = "btn btn-primary";#}
            {#btn.style.width = "300px"#}
            {#btn.style.height = "60px"#}
            {#btn.style.fontSize = "15px"#}
            {#loadingDiv.appendChild(btn);#}
        }

        // Call the function to show the loading gif
    </script>


    <div class="row">

        <div class="col-md-9">

            <div id="data-chart">
                <div id="data-container"></div>
            </div>

            <div id="generation-chart" style="display: none;position: relative;">

                <div id="generation-container" style="height: 1000px"></div>
            </div>

        </div>
        <div class="col-md-3" id="menu">
            {#            <h3>Time Series Generation</h3>#}
            {% include "parts/dataset_description.html" %}
            {% include "generation/generation_from.html" %}
            <div id="loading-info">

            </div>
        </div>

    </div>

    <script>
        function updateChart() {
            console.log("updateChart");
            select_dataset().done(function (data) {
                var newData = data.original;
                dataChart.series[0].update({name: data.name}, false)
                dataChart.series[0].setData(newData);
            });
        }

        let nGenerated = 0

        function loadGeneratedData() {
            console.log("loadGeneratedData");

            // Set generation-chart visible
            document.getElementById("generation-chart").style.display = "block";
            getGeneratedDatasets().done(function (data) {
                hideLoadingGif()
                $('#generationBtn').removeClass("disabled")
                $('#updateGenerationBtn').removeClass("disabled")

                var newData = data.generated;
                var originalData = data.original


                // Remove all series from generationChart
                while (generationChart.series.length > 0) {
                    generationChart.series[0].remove(false);
                }
                // Remove all axes from generationChart
                while (generationChart.yAxis.length > 0) {
                    generationChart.yAxis[0].remove();
                }

                nGenerated = newData.length
                document.getElementById('generation-container').style.height = ((nGenerated) * 120 + 70) + 'px'

                newData.forEach(function (ts, index) {
                    generationChart.addAxis({
                        title: {
                            text: ""
                        },
                        top: index * 120 + "px",
                        offset: 1,
                        opposite: index % 2,
                        height: "120px",
                        minPadding: '0',
                        endOnTick: false,
                    })
                })

                newData.forEach(function (ts, index) {
                    // Add the series to the chart using the new axis
                    generationChart.addSeries({
                        name: data.name + "_generated" + index + 1,
                        data: ts,
                        yAxis: index,
                        showInLegend: false// Use the index of the last added axis
                    }, false);
                    {#generationChart.addSeries({#}
                    {#    name: data.name + "_original" + index + 1,#}
                    {#    data: originalData,#}
                    {#    yAxis: index,#}
                    {#    opacity: 0.5,#}
                    {#    dashStyle: 'dot',#}
                    {#    showInLegend: false// Use the index of the last added axis#}
                    {# }, false);#}
                    {#console.log(originalData[index], "EEE")#}
                });

                generationChart.redraw();

            });
        }

        dataset_selection = document.getElementById("datasetSelect");
        dataset_selection.addEventListener("change", updateChart);

        let generationBtn = document.getElementById("generationBtn");
        let updateGenerationBtn = document.getElementById("updateGenerationBtn");
        generationBtn.addEventListener("click", loadGeneratedData);
        updateGenerationBtn.addEventListener("click", loadGeneratedData);

        let collapseAxes = function () {
            generationChart.series.forEach(function (series, index) {
                if (series.name.includes("Navigator")) return;
                series.update({yAxis: 0})
            })
            document.getElementById('generation-container').style.height = ((1) * 300 + 130) + 'px'

        }
        let extendAxes = function () {
            document.getElementById('generation-container').style.height = ((nGenerated + 0.4) * 300) + 'px'

            generationChart.series.forEach(function (series, index) {
                if (series.name.includes("Navigator")) return;
                series.update({yAxis: index})
            })

        }

        let dataChart = Highcharts.chart(`data-container`, {
            chart: {
                type: 'line',
                zoomType: 'x'
            },
            title: {
                text: ""//this.title
            },
            xAxis: {
                type: 'datetime',
                minRange: 7000,
                maxRange: 7000 * 10,
                events: {
                    afterSetExtremes: function (e) {
                        var maxDistance = 7000 * 10; //8 months time
                        var xaxis = this;
                        if ((e.max - e.min) > maxDistance) {
                            var min = e.max - maxDistance;
                            var max = e.max;
                            window.setTimeout(function () {
                                xaxis.setExtremes(min, max);
                            }, 1);
                        }
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'Value'
                }
            },
            legend: {
                enabled: true,
                verticalAlign: 'top',
            },
            series: [{name: "", data: []}],
            navigator: {
                enabled: true, // Set to true to enable the navigator
                xAxis: {
                    // Configuration specific to the navigator's X-axis
                }
            },
            scrollbar: {
                enabled: true // Set to true to show a scrollbar below the chart
            },

        });


        function getRange() {
            let {min, max, dataMin, dataMax} = dataChart.xAxis[0].getExtremes();
            let min_ = Math.max(min, dataMin)
            let max_ = Math.min(max, dataMax)
            return {max: max_, min: min_}
        }


        let generationChart = Highcharts.chart(`generation-container`, {
            chart: {
                type: 'line',
                zoomType: 'x'
            },
            title: {
                text: ""//this.title
            },
            xAxis: {
                type: 'datetime',

            },
            yAxis: {
                title: {
                    text: 'Value'
                }
            },
            legend: {
                enabled: true,
                verticalAlign: 'top',
            },
            series: [{name: "", data: [], showInLegend: false}],
        });


        // Initial chart update
        $(document).ready(function () {
            updateChart();
        });
    </script>
{% endblock %}

