<form class="query-box-form">
    {% csrf_token %}

    <div class="query-sliders hide-online {{ classes }}">
        <div class="form-group">
            <label for="station-slider"> # Stations:
                {% include "parts/info.html" with text="Number of stations" %}
            </label>
            {% include "parts/slider.html" with id="stations" %}
        </div>
        <div class="form-group">
            <label for="sensor-slider"> # Sensors:
                {% include "parts/info.html" with text="Number of sensors" %}
            </label>
            {% include "parts/slider.html" with id="sensors" %}
        </div>
        <div class="form-group">
            <label for="sensor-slider">Time Range
                {% include "parts/info.html" with text="Time Interval" %}
            </label>
            {% include "parts/slider.html" with id="time" %}
        </div>
    </div>
    <form class="retrieveForm">
        <div class="form-group online-only {{ classes }}">
            <label for="ingestion-input"> Insertion Rate (x10K/s)
                {% include "parts/info.html" with text="Ingestion Speed" %}
            </label>
            <select id="ingestion" class="form-control">
                <option> 0</option>
                <option> 10</option>
                <option> 20</option>
                <option> 50</option>
                <option> 100</option>
            </select>
        </div>


        <input type="hidden" data-link="slider-stations" name="stations" value="6">
        <input type="hidden" data-link="slider-sensors" name="sensors" value="60">
        <input type="hidden" data-link="slider-time" name="time" value="Day">

        <input type="hidden" data-link="time-stamp" name="timestamp" value="0">
        <input type="hidden" data-link="data-set" name="dataset" value="d1">
        <input type="hidden" data-link="query" name="query" value="1">

    </form>
</form>