<style>
    .select_ {
        background: white;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        padding-left: 5px;
        max-width: 400px;
        position: relative;
        padding-right: 20px;
    }

    .select_:hover {
        cursor: pointer;
    }

    .select_ .caret {
        position: absolute; /* Set the position of the caret to absolute */
        right: 4px; /* Adjust the right distance as needed */
        top: 40%;
    }

    .space-right {
        margin-right: 5px;
    }

    .dropdown.row {
        margin-left: -15px;
    }

    .dropdown .row {
        margin-left: 0px;
        margin-right: 0;
    }

    .query-content {
        margin-left: 20px;
    }

    .dropdown {
        margin-left: 5px;
        margin-right: 5px;
    }

    .space {
        margin-left: 5px;
        margin-right: 5px;
    }

    .sql-bold {
        font-weight: bold;
    }

    .query-content > * {
        display: none;
    }

</style>


<div class="query-frame row">
    <div class="col-md-6 query-composition">
        <div class="row">
            <div class="sql-bold space-right"> SELECT</div>
            station_id,
            <div class="dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false"
                     aria-expanded="false">
                    <div class="select_">
                        <div class="select-main">
                            <div data-toggle="0"> Projection</div>
                        </div>
                        <span class="caret"></span>
                    </div>
                </div>
                <ul class="dropdown-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                    </a>
                    <li><a class="swap-select" >
                        <div data-toggle="1">time, <span class="s_list">&lt;s_list&gt;</span></div>
                    </a></li>
                    <li><a class="swap-select">
                        <div data-toggle="2">  <span class="s_avg">AVG(s_i)...AVG(s_j)</span> </div>
                    </a></li>
                    <li><a class="swap-select">
                        <div data-toggle="3"> time , <span class="s_avg">AVG(s_i)...AVG(s_j)</span> </div>
                    </a></li>
                    <li><a class="swap-select">
                        <div data-toggle="4"> time, <span class="s_i">s_i</span>, <span class="s_j">s_j</span>, AVG(<span class="s_i">s_i</span>,<span class="s_j">s_j</span>)</div>
                    </a></li>
                    <li><a class="swap-select">
                        <div data-toggle="5"> CORR(<span class="s_i">s_i</span>,<span class="s_j">s_j</span>)</div>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="from">
            <div class="row">
                <div class="sql-bold"> FROM</div>
                <div>
                    <div class="dropdown row" style="margin-left: 8px">
                        <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false"
                             aria-expanded="false">
                            <div class="select_">
                                <div class="sub-select-main data-select-main" data-value="Dataset">
                                    <div class=row" data-toggle="2">&nbsp;Dataset</div>
                                </div>
                                <span class="caret"></span>
                            </div>
                        </div>
                        <ul class="dropdown-menu"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                     aria-haspopup="true" aria-expanded="false">
                        </a>
                            <li><a class="swap-sup-select row">

                                     d1

                            </a></li>
                            <li><a class="swap-sup-select row">
                                     d2
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="sql-bold"> WERE</div>
                &nbsp; station_id in &nbsp; <span class="st_list"> &lt;station_list&gt;</span>
            </div>
            <div class="row">
                <div class="sql-bold"> AND</div>
                &nbsp; time &lt;
                <div class="space" data-type="time-stamp">?timestamp</div>
            </div>
            <div class="row">
                <div class="sql-bold "> AND</div>
                &nbsp; time &gt;=
                <div class="space" data-type="time-stamp">?timestamp</div>
                -
                <div class="space" data-type="time-interval">Minute</div>

                <div class="semicolon"></div>
            </div>
        </div>
        <div class="query-content" style="margin-left: 0px">
            <div class="select-1">
                <div class="dropdown row">
                    <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false"
                         aria-expanded="false">
                        <div class="select_">
                            <div class="sub-select-main">
                                <div class=row">&nbsp;</div>
                            </div>
                            <span class="caret"></span>
                        </div>
                    </div>
                    <ul class="dropdown-menu"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                 aria-haspopup="true" aria-expanded="false">
                    </a>
                        <li><a class="swap-sup-select">
                            <div class="row">
                                <div class="sql-bold"> AND</div>
                                &nbsp s1 > 0.95;
                            </div>
                        </a></li>
                        <li><a class="swap-sup-select">
                            <div class="row" data-toggle="3"> SAMPLE BY 5 : FILL(LINEAR);</div>
                        </a></li>
                    </ul>
                </div>

            </div>

            <div class="select-2">
                <div class="row">
                    <div class="sql-bold "> GROUP BY</div>
                    &nbsp; station_id;
                </div>
            </div>

            <div class="select-3">
                <div class="row">
                    <div class="sql-bold "> GROUP BY</div>
                    &nbsp; station_id time
                </div>
                <div class="row">
                    <div class="sql-bold "> SAMPLE BY</div>
                    &nbsp; 1H;
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="station-slider">Number of Stations
                {% include "parts/info.html" with text="Number of stations container in <stations_list>" %}
            </label>
            {% include "parts/slider.html" with id="stations" %}
        </div>
        <div class="form-group">
            <label for="sensor-slider">Number of Sensors
                {% include "parts/info.html" with text="Number of sensors container in <sensor_list>" %}
            </label>
            {#                <input type="range" id="sensor-slider" class="form-control-range" min="1" max="100" value="3"#}
            {#                       step="1" onchange="updateSensorCount(this.value)">#}
            {% include "parts/slider.html" with id="sensors" %}

        </div>
        <label for="sensor-slider">Time Interval
            {% include "parts/info.html" with text="Time Intervall to query over." %}
        </label>
        {% include "parts/slider.html" with id="time" %}
        <form id="retrieveForm" action="https://revival.exascale.info/api/drop.php">

            <button class="btn btn-primary query-submit" onclick="submitQuery()">Generate</button>

            {# create 3 hidden fields to store the values of the sliders #}
            <input type="hidden" data-link="slider-stations" name="stations" value="5">
            <input type="hidden" data-link="slider-sensors" name="sensors" value="50">
            <input type="hidden" data-link="slider-time" name="time" value="Min">
            <input type="hidden" data-link="time-stamp" name="time-stamp" value="0">

        </form>
    </div>
</div>
<div class="header col-md-20">
    <hr style="margin-bottom: 10px;margin-top: 10px;margin-left: -20px">
</div>
