{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>SEER
                    <small>About the tool</small>
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p><b>Technology</b><br>
                SEER is a client-server application. The client-side is implemented using <a
                        href="https://www.javascript.com/">JavaScript</a>, <a href="https://jquery.com/">jQuery</a>, <a
                        href="http://www.highcharts.com/">Highcharts</a> (a JavaScript library for charts) and
                HTML/CSS. The server-side is implemented with <a href="https://www.djangoproject.com/">Django</a>.

            </p>
            <p><b>Contact</b><br>
                <a href="https://exascale.info/members/mourad-khayati/">Mourad Khayati, PhD</a>
            </p>
            <p><b>Contributors</b><br>
            </p>
            <ul>
                <li>Luca Althaus</li>
                <li><a href="https://exascale.info/members/mourad-khayati/">Mourad Khayati, PhD</a></li>
                <li><a href="https://exascale.info/members/abdelouahab-khelifati/">Abdelouahab Khelifati</a></li>
                <li><a href="https://www.inf.unibz.it/~dignoes/"> Anton Dignös</a></li>
                <li><a href="https://nyuad.nyu.edu/en/academics/divisions/science/faculty/djellel-difallah.html">Djellel Difallah</a></li>
                </ul>
            <p></p>
            {#            <p><b>Teams</b><br>#}
            {#                </p><div class="col-md-4">#}
            {#                <div style="text-align: center;">#}
            {#                    <a href="https://exascale.info/"><img style="width: 60%;height: auto;" src="/resources/Xi_logo.svg"></a>#}
            {#                    &nbsp;&nbsp;#}
            {#                    <a href="http://monetdb.org/"><img style="width: 35%;height: auto;" src="/resources/mdbs_logo.png"></a>#}
            {#                </div>#}
            {#                </div>#}
            {#            <p></p>#}
        </div>
    </div>

{% endblock %}
```