{% extends "base.html" %}


{% block content %}
    <div id="data-container-scarsity">
    </div>
    <div id="btns-scarsity">
    </div>
    <div id="compression-container-scarsity">
    </div>

    <div id="data-container-delta">
    </div>
    <div id="btns-delta">
    </div>
    <div id="compression-container-delta">
    </div>



    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    {% include "compressionCode.html" %}
    <script>
        const compression_data_sets = {{ compression_data|safe }};

        let dataType = 'scarsity';
        let data = compression_data_sets[dataType]

        scarsityManager = new CompressionManager( 'scarsity',  compression_data_sets['scarsity']);

        // create hightchart
        deltaManager = new CompressionManager( 'delta', compression_data_sets['delta']);


    </script>
{% endblock %}