<script>

    class CompressionManager {
        constructor(dataType, data, title = null) {
            this.title = title;
            if (this.title == null) {
                this.title = dataType;
            }

            this.dataType = dataType;
            this.data = data;
            this.levels = Object.keys(data);
            this.currentLevel = this.levels[0];

            this.initialDataSet = data[this.currentLevel]["data"];
            this.initialCompression = data[this.levels[0]]["compression"]

            this.chartTime = this.initialDataSet["time"].map((time) => {
                return Date.parse(time);
            });

            this.initializeCharts();
            this.createButtons();
        }

        initializeCharts() {
            console.log(this.dataType);
            console.log(`data-container-${this.dataType}`);
            this.dataChart = Highcharts.chart(`data-container`, {
                chart: {
                    type: 'line',
                    zoomType: 'x'
                },
                title: {
                    text: this.title
                },
                xAxis: {
                    type: 'datetime',

                },
                yAxis: {
                    title: {
                        text: 'Value'
                    }
                }
                ,
                series: [{ // [ time.1 ,  scarsity_data['s0'][1] ..... ]
                    name: 'Sensor 1',
                    id: 's0',
                    data: this.chartTime.map((time, index) => {
                        return [time, this.initialDataSet['s0'][index]]
                    })
                },
                    {
                        name: 'Sensor 2',
                        id: 's1',
                        data: this.chartTime.map((time, index) => {
                            return [time, this.initialDataSet['s1'][index]]
                        })
                    },
                    {
                        name: 'Sensor 3',
                        id: 's2',
                        data: this.chartTime.map((time, index) => {
                            return [time, this.initialDataSet['s2'][index]]
                        })
                    }]
            });

            const compressionManager = this;

            this.compressionChart = Highcharts.chart(`compression-container`, {
                chart: {
                    type: 'column',
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    compressionManager.setLevel(this.category) // "this" from outer scope
                                }
                            }
                        }
                    }
                },
                title: {
                    text: ''
                },
                yAxis: {
                    title: {
                        text: 'Compression (KB)'
                    }
                },
                xAxis: {
                    categories: ["clickhouse","druid","influx","timescaledb"],
                    labels: {
                        allowOverlap: true,
                        padding: 0,
                        events: {
                            click: (e) => {
                                this.setLevel(e.target.value);
                            }
                        },
                    },
                },
                series: Object.keys(this.initialCompression).map(system => {
                    return {
                        name: system,
                        data: [this.initialCompression[system]]
                    }
                })
            });
        }

        createButtons() {
            const dropdown = document.createElement('select');
            dropdown.id = `inside-dropdown`;
            dropdown.addEventListener('change', (event) => this.setLevel(event.target.value));

            const defaultOption = document.createElement('option');
            defaultOption.text = 'Select Level';
            defaultOption.disabled = true;
            defaultOption.selected = true;
            dropdown.add(defaultOption);

            for (const level of this.levels) {
                const levelOption = document.createElement('option');
                levelOption.value = level;
                levelOption.text = level;
                dropdown.add(levelOption);
            }
            const levelDropdown = document.getElementById('level-dropdown');
            levelDropdown.innerHTML = '';

            levelDropdown.appendChild(dropdown);

        }

        async delay(ms) {
            return new Promise((resolve) => setTimeout(resolve, ms));
        }

        async playChart() {
            this.initializeCharts();
            for (const level of this.levels) {
                await this.delay(1000); // Wait for 1 second
                this.setLevel(level);

            }
        }

        setLevel(level) {
            this.currentLevel = level;

            // Update the charts based on the current level
            const newData = this.data[level]["data"];
            for (const sensor of Object.keys(newData)) {
                if (sensor === 'time') continue;
                try {
                    const newChartData = newData[sensor].map((value, index) => [this.chartTime[index], value]);
                    this.dataChart.get(sensor).setData(newChartData);
                } catch (e) {
                    console.log(sensor);
                    console.log(e);
                }
            }
            this.compressionChart.series.forEach((series) => {
                series.setData([this.data[level]["compression"][series.name]]);
                {#series.addPoint(this.data[level]["compression"][series.name]);#}
            });
        }
    }

</script>