<script>

    class CompressionManager {
        constructor(dataType, data, title = null) {
            this.title = title;
            if (this.title == null) {
                this.title = dataType;
            }

            this.dataType = dataType;
            this.data = data;
            this.levels = Object.keys(data);
            this.currentLevel = this.levels[0];

            this.initialDataSet = data[this.currentLevel]["data"];
            this.initialCompression = data[this.levels[0]]["compression"]

            this.chartTime = this.initialDataSet["time"].map((time) => {
                return Date.parse(time);
            });

            this.initializeCharts();
            this.createDropdown();
        }

        initializeCharts() {
            console.log(this.dataType);
            console.log(`data-container-${this.dataType}`);
            this.dataChart = Highcharts.chart(`data-container`, {
                chart: {
                    type: 'line',
                    zoomType: 'x'
                },
                title: {
                    text: ""//this.title
                },
                xAxis: {
                    type: 'datetime',
                    //set extremes
                    min: Date.parse(this.initialDataSet["time"][0]),
                    max: Date.parse(this.initialDataSet["time"][Math.max(this.initialDataSet["time"].length - 1,10)]),
                },
                yAxis: {
                    title: {
                        text: 'Value'
                    }
                },
                legend: {
                    enabled: true,
                    verticalAlign: 'top',
                },
                series: [{ // [ time.1 ,  scarsity_data['s0'][1] ..... ]
                    name: 's0',
                    id: 's0',
                    data: this.chartTime.map((time, index) => {
                        return [time, this.initialDataSet['s0'][index]]
                    })
                },
                    {
                        name: 's1',
                        id: 's1',
                        visible: false,
                        data: this.chartTime.map((time, index) => {
                            return [time, this.initialDataSet['s1'][index]]
                        })
                    },
                    {
                        name: 's2',
                        id: 's2',
                        visible: false,
                        data: this.chartTime.map((time, index) => {
                            return [time, this.initialDataSet['s2'][index]]
                        })
                    }],
                navigator: {
                    adaptToUpdatedData: false,
                    enabled: true, // Set to true to enable the navigator
                },
                scrollbar: {
                    enabled: true, // Set to true to show a scrollbar below the chart
                    liveRedraw: false
                },

            });

            const compressionManager = this;

            this.compressionChart = Highcharts.chart(`compression-container`, {
                chart: {
                    type: 'column',
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    compressionManager.setLevel(this.category) // "this" from outer scope
                                }
                            }
                        }
                    }
                },
                title: {
                    text: ''
                },
                yAxis: {
                    title: {
                        text: 'Compression (KB)'
                    }
                },
                xAxis: {
                    categories: ["clickhouse", "druid", "influx", "timescaledb"],
                    labels: {
                        allowOverlap: true,
                        padding: 0,
                        {#events: {#}
                        {#    click: (e) => {#}
                        {#        this.setLevel(e.target.value);#}
                        {#    }#}
                        {# },#}
                    },
                },
                series: Object.keys(this.initialCompression).map(system => {
                    return {
                        name: system,
                        data: [this.initialCompression[system]]
                    }
                })
            });
        }

        createDropdown() {
            const dropdown = document.createElement('select');
            dropdown.id = `inside-dropdown`;
            dropdown.className = 'form-control';
            dropdown.addEventListener('change', (event) => {
                this.setLevel(event.target.value)
                document.getElementById("showCompression").style.display = "none";
            });

            {#const defaultOption = document.createElement('option');#}
            {#defaultOption.text = 'Select Level';#}
            {#defaultOption.disabled = true;#}
            {#defaultOption.selected = true;#}
            {#defaultOption.hidden = true;#}
            {#defaultOption.value = 'default';#}
            {#dropdown.add(defaultOption);#}

            for (const level of this.levels) {
                const levelOption = document.createElement('option');
                levelOption.value = level;
                levelOption.text = level;
                dropdown.add(levelOption);
            }
            const levelDropdown = document.getElementById('level-dropdown');
            levelDropdown.innerHTML = '';

            levelDropdown.appendChild(dropdown);

        }

        setLevel(level) {
            console.log("set level")
            this.currentLevel = level;
        }

        displayCompression() {
            var level = this.currentLevel
            this.compressionChart.series.forEach((series) => {
                series.setData([this.data[level]["compression"][series.name]]);
            });
        }

        displayChart() {
            var level = this.currentLevel
            while (this.dataChart.series.length > 3) {
                this.dataChart.series[3].remove(false);
            }
            if (this.dataType === "scarsity") {
                this.dataChart.series.forEach(
                    //update series opacity and line style
                    (series) => {
                        series.update({
                            opacity: 0.5,
                            dashStyle: 'dot',
                        }, true);
                    }
                )

            }

            // Update the charts based on the current level
            const newData = this.data[level]["data"];
            let counter = 0
            for (const sensor of Object.keys(newData)) {
                if (sensor === 'time') continue;
                try {
                    const newChartData = newData[sensor].map((value, index) => [this.chartTime[index], value]);
                    {#this.dataChart.get(sensor).setData(newChartData);#}
                    //  delete series with index larger than 3

                    this.dataChart.addSeries({
                        name: sensor + "_" + level,
                        id: sensor + level,
                        data: newChartData,
                        linkedTo: sensor,
                        visible: counter === 0,
                        showInLegend: true,
                    });
                } catch (e) {
                    console.log(sensor);
                    console.log(e);
                }
                counter = counter + 1 // 3 sensors
            }
        }
    }

</script>