{% extends "base.html" %}


{% block content_fluid %}
    <div class="row">
        <div class="col-md-9" style="height:100%">
            {#            <h4> DATA </h4>#}
            <div id="data-container" style="height: calc(100vh - 60px);">
            </div>

        </div>
        <script>
            function handleFormSubmit(event) {
                event.preventDefault(); // Prevent the default form submission

                // Get the selected value from the dropdown
                const selectedValue = document.getElementById('feature').value;
                // Perform actions based on the selected value
                if (selectedValue === 'scarsity') {
                    compressionManager = new CompressionManager('scarsity', compression_data_sets['scarsity']);
                    // Add your code for the 'scarsity' option
                } else if (selectedValue === 'repeats') {
                    compressionManager = new CompressionManager('repeats', compression_data_sets['repeats']);
                    // Add your code for the 'repeats' option
                } else if (selectedValue === 'outliers') {
                    compressionManager = new CompressionManager('outliers', compression_data_sets['outliers']);
                    // Add your code for the 'repeats' option
                }
            }
        </script>
        {##}
        {#        </div>#}
        <div id="menu" class="col-md-3" style="padding-top: 40px;">
            <h3> Feature Contamination</h3>
            {#            <h3>Show Time Series</h3>#}
            <form id="retrieveForm">

                <div
                     style="margin-left: 0; margin-right: 0; position: relative; display: flex; justify-content: space-between; align-items: center;">

                    <label for="feature" style="width: 30%; text-align: left;">Dataset:</label>

                    <label for="feature" style="width: 30%; text-align: left;">Feature:</label>

                    <label for="feature" style="width: 30%; text-align: left;">Level:</label>

                </div>

                <div class="form-group"
                     style="margin-left: 0; margin-right: 0; position: relative; display: flex; justify-content: space-between; align-items: center;">

                    <select id="dataset" style="width: 30%;" class="form-control" name="dataset">
                        <option value="d1">D1</option>
                        <option value="d2">D2</option>
                    </select>

                    <select id="feature" style="width: 30%;" class="form-control" name="dataType"
                            onchange="handleFormSubmit(event)">
                        <option value="scarsity">Scarsity</option>
                        <option value="repeats">Repeats</option>
                        <option value="outliers">Outliers</option>
                    </select>

                    <div id="level-dropdown" style="width: 30%;">
                        <!-- Content for the level-dropdown goes here -->
                    </div>

                </div>
                <div class="form-group clearfix">
                    <button id="applyBtn"
                            class="btn btn-default pull-left">
                        Apply
                    </button>
                    <button id="showCompression"
                            class="btn btn-default pull-right" style="display:none ">
                        Show Compression
                    </button>
                </div>
            </form>

            <div id="compression-container" style="display: none">
                <!-- Add charts for compression data here -->
            </div>
        </div>

    </div>

    {#    <script src="https://code.highcharts.com/modules/accessibility.js"></script>#}

    {% include "compressionCode.html" %}
    <script>
        let AAAAA = 0;
        const compression_data_sets = {{ compression_data|safe }};

        let dataType = 'repeats';

        let compressionManager = new CompressionManager('scarsity', compression_data_sets['scarsity'], "");

        //set function for showCompression btn

        // set function for apply btn
        document.getElementById("applyBtn").addEventListener("click", function (event) {
            //prevent default
            event.preventDefault();
            let dropdown_value = document.getElementById("inside-dropdown").value
            if (dropdown_value === "default") {
                return
            }
            console.log(dropdown_value, "BBBBBBBBBBBBBB")
            compressionManager.displayChart();
            document.getElementById("showCompression").style.display = "block";
        });

        document.getElementById("showCompression").addEventListener("click", function (event) {
            //prevent default
            event.preventDefault();
            compressionManager.displayCompression();
            document.getElementById("compression-container").style.display = "block";

        });
    </script>
{% endblock %}