{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1><strong>SEER</strong>
                        <small>An End-to-End Toolkit to Evaluate Time Series Database Systems</small>
                    </h1>
                </div>
                <p>
                    SEER is an online tool to evaluate the performance of time series database systems on large
                    datasets.
                </p>
                <p>
                    This tool was created at the <a href="http://exascale.info/">eXascale Infolab</a>, a research group
                    at the <a href="http://www.unifr.ch/">University of Fribourg</a>, Switzerland.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <hr>
                <h3><strong>TSM-Bench</strong></h3>

                <a href="https://dl.acm.org/doi/pdf/10.14778/3611479.3611532">TSM-Bench</a>
                is a new evaluation benchmark specifically designed for time series data used
                in monitoring applications. TSM-Bench packs several salient features
                into a comprehensive framework that includes: (1) Generation mechanism of large and multiple realistic time
                series based on seed data collected from real-world applications; (2) A suite
                of fundamental queries found in common workloads, serving as
                building blocks for more complex time series analytical operations;
                (3) Various realistic workloads that support dynamic query variability.



                <hr>

                <h3><strong>Features</strong></h3><br>

                <div class="row">
                    <div class="col-md-3">
                        <p><b>Datasets:</b></p>
                        <ul>
                            <li><a href='{% url "datasets" %}'>Display</a></li>
                            <li><a href='{% url "datasets-generation" %}'>Generation</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p><b>Workloads Evaluation:</b></p>
                        <ul>
                            <li><a href='{% url "offline-queries" %}'>Offline Queries</a></li>
                            <li><a href='{% url "online-queries" %}'>Online Queries</a></li>
                            <li><a href='{% url "live-queries" %}'>Live Queries</a></li>

                        </ul>
                    </div>
                    <div class="col-md-5">
                        <p><b>Feature Impact</b></p>
                        <ul>
                            <li><a href='{% url "compression" %}'>Compression</a></li>
                        </ul>
                    </div>
                </div>
                <hr>

{#                <h3><strong>Publications</strong></h3>#}
{##}
{#                <ol>#}
{#                    <li>Abdelouahab Khelifati, Mourad Khayati, Anton Dignös, Djellel Difallah, and Philippe#}
{#                        Cudré-Mauroux.<strong>“TSM-Bench: Benchmarking Time Series Database Systems for Monitoring#}
{#                            Applications.” </strong> In <i>Proceedings of the VLDB Endowment</i>, Vol. 16, 2023#}
{#                    </li>#}
{#                </ol>#}
            </div>
        </div>
    </div>


{% endblock %}