{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>
                        <small>End-to-End Toolkit to Evaluate Time Series Database Systems</small>
                    </h1>
                </div>
                <p>
                    SEER is an online tool to evaluate the performance of time series database systems on large
                    datasets.<br> 
                    This tool was created at the <a href="http://exascale.info/">eXascale Infolab</a>, a research group
                    at the <a href="http://www.unifr.ch/">University of Fribourg</a>, Switzerland. <br>
                    This work was done under the supervision of <a href="https://exascale.info/members/mourad-khayati/"> Dr. Mourad Khayati</a>. 
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <hr>
                <h3><strong>SEER</strong></h3>
                <p>
                SEER is an online tool for evaluating the performance of seven Time Series Database Systems (TSDBs) using
                a mixed set of workloads.
                The tool builds upon our 
                <a href="https://dl.acm.org/doi/pdf/10.14778/3611479.3611532">TSM-Bench</a> benchmark.
                SEER implements an end-to-end pipeline for database benchmarking,
                from data generation and workload evaluation to feature contamination. 
                </p>

                <hr>

                <h3><strong>Features</strong></h3><br>

                <div class="row">
                    <div class="col-md-3">
                        <p><b>Datasets:</b></p>
                        <ul>
                            <li><a href='{% url "datasets" %}'>Display</a></li>
                            <li><a href='{% url "datasets-generation" %}'>Generation</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p><b>Workloads Evaluation:</b></p>
                        <ul>
                            <li><a href='{% url "offline-queries" %}'>Offline Queries</a></li>
                            <li><a href='{% url "online-queries" %}'>Online Queries</a></li>
                            <li><a href='{% url "live-queries" %}'>System Deployment</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <p><b>Feature Impact</b></p>
                        <ul>
                            <li><a href='{% url "compression" %}'>Compression</a></li>
                        </ul>
                    </div>
                </div>
                <hr>

                <h3><strong>Publications</strong></h3>

                <ol>
                    <li>Abdelouahab Khelifati, Mourad Khayati, Anton Dignös, Djellel Difallah, and Philippe
                        Cudré-Mauroux.<strong>“TSM-Bench: Benchmarking Time Series Database Systems for Monitoring
                            Applications.” </strong> In <i>Proceedings of the VLDB Endowment</i>, Vol. 16, 2023
                    </li>
                  <li>Luca Althaus, Mourad Khayati,Abdelouahab Khelifati, Anton Dignös, Djellel Difallah, and Philippe
                        Cudré-Mauroux.<strong>“SEER: An End-to-End Toolkit for Benchmarking Time Series
Database Systems in Monitoring Applications.” </strong> In <i>Proceedings of the VLDB Endowment</i>, Vol. 17, 2024
                    </li>
                </ol>
            </div>
        </div>
    </div>


{% endblock %}
