{% extends "base.html" %}
{% load static %}

{% block content %}

    {% include "offline_queries_script.html" %}
    {% include "offline_queries_css.html" %}


    <div class="row">
        <div class="header col-md-4">
            <h4> Query Composition</h4>
            {# horizontal line  #}
            <hr style="margin-bottom: 5px;margin-top: 5px;margin-left: -10px">
        </div>
        <div class="header col-md-6">
            <h4 style="margin-left: 10px"> Query Variation</h4>
            {# horizontal line  #}
            <hr style="margin-bottom: 5px;margin-top: 5px">
        </div>
    </div>
    <div id="query-frame-holder">

    </div>
    <style>
        .ui-slider-handle {
            width: 7px !important;
            transform: translateX(5px) !important;
            border-radius: 0px !important;
        }

        .ui-slider-handle > ui-corner-all {
            border-radius: 0px;
        !important;
        }

    </style>
    <button id="add-query-button">Add Query <i class="mdi mdi-plus"></i></button>
    <script>
        const queryFrameContent = `{{ query_frame|escapejs|safe }}`;
        const timeStamp =  {{ time_stamps|safe }};
        const queryFetchUrl = '{% url "offline-queries" %}';
        var csrfToken = "{{ csrf_token }}"
    </script>
    <button id="fetchButton" style="margin-left: 20px">Evaluate</button>
    <script>
        document.getElementById('fetchButton').addEventListener('click', function () {
            fetch(queryFetchUrl, {
                method: 'POST',
                body: JSON.stringify({query: 'Your query data here'}),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                }
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success: ', data)
                    // Process the fetched data and update the 'result' element
                    var resultElement = document.getElementById('result');
                    resultElement.textContent = JSON.stringify(data, null, 2);
                })
                .catch(error => {
                    console.error('Fetch error: ', error);
                });
        });
    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <div id="chart-container" style="width: 600px; height: 400px;margin-top: 40px"></div>
    <script>
        var chart;
        var seriesData = [];

        document.getElementById('fetchButton').addEventListener('click', function () {
            // Simulate fetching new data (e.g., via AJAX or any other data source)
            var newQData = {
                Q1: {
                    'influx': 1,
                    'questdb': 3,
                    'timescaledb': 2,
                    'monetdb': 4,
                    'extremedb': 2,
                    'clickhouse': 6,
                    'druid': 7
                },
                Q2: {
                    'influx': 3,
                    'questdb': 4,
                    'timescaledb': "not run",
                    'monetdb': 1,
                    'extremedb': 2,
                    'clickhouse': 3,
                    'druid': 4
                }
            }
            // Add more dynamic data as needed


            // Update the chart with the new data
            updateChart(newQData);
        });

        // Function to create or update the Highcharts chart
        function createChart() {
            chart = Highcharts.chart('chart-container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Runtime'
                },
                xAxis: {
                    categories: ["Influx", "questdb", "Timescaledb", "monetdb", "extremedb", "clickhouse", "druid"]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Time (ms)'
                    }
                },
                {#legend: {#}
                {#    reversed: true#}
                {# },#}
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },
                series: [{
                    name: "placeholder",
                    data: [0, 0, 0, 0, 0, 0, 0],
                    showInLegend: false
                }]
            });
        }

        createChart();

        // Function to update the chart data
        function updateChart(newData) {
            if (!chart) {
                createChart(newData);
            } else {
                Object.keys(newData).forEach(query => {
                    const query_runtime = newData[query];
                    console.log(query_runtime);
                    console.log(query);
                    // add series to chart
                    chart.addSeries({
                        name: query,
                        data: [query_runtime.influx, query_runtime.questdb, query_runtime.timescaledb, query_runtime.monetdb, query_runtime.extremedb, query_runtime.clickhouse, query_runtime.druid],
                        showInLegend: true
                    }, false);
                })
                chart.redraw();
            }
        }
    </script>
{% endblock %}