{% extends "base.html" %}


{% block content %}
    <script>
    function swapSelect(divElement) {
        var dataToggle = divElement.children[0].getAttribute("data-toggle");

        var queryFrame = divElement.closest('.query-frame');
        var selectMain = queryFrame.querySelector('.select-main');

        var selectMainInnerHTML = selectMain.innerHTML;
        selectMain.innerHTML = divElement.innerHTML;
        divElement.innerHTML = selectMainInnerHTML;

        var contentDiv = queryFrame.querySelector('.query-content');
        // set the direct children to be visible if id = select-dataToggle
        var children = contentDiv.children;
        for (var i = 0; i < children.length; i++) {
            var child = children[i];
            if (child.parentElement !== contentDiv) {
                continue;
            }
            if (child.classList.contains("select-" + dataToggle)) {
                child.style.display = "block";
            } else {
                child.style.display = "none";
            }
        }
    }

    function initQueryFrame() {
        const swapSelections = document.querySelectorAll('.swap-select');
        // Add a click event handler to each element
        swapSelections.forEach(function (element) {
            element.addEventListener('click', function () {
                swapSelect(element);
            });
        })

        // get all elements of class dataset-select
        const datasetSelect = document.querySelectorAll('.dataset-select');
        // Add a click event handler to each element
        datasetSelect.forEach(function (element) {
            element.addEventListener('click', function () {
                var queryFrame = element.closest('.query-frame');
                var elementsWithDatasetAttribute = queryFrame.querySelectorAll('[data-type="dataset"]');
                elementsWithDatasetAttribute.forEach(function (element_) {
                    element_.innerText = element.value;
                });
            });
        });
        // get all elements of class time-range-select
        const timeRangeSelect = document.querySelectorAll('.time-range-select');
        // Add a click event handler to each element
        timeRangeSelect.forEach(function (element) {
            console.log(element);
            console.log(element.value);
            element.addEventListener('click', function () {
                var queryFrame = element.closest('.query-frame');
                var elementsWithDatasetAttribute = queryFrame.querySelectorAll('[data-type="time-interval"]');
                elementsWithDatasetAttribute.forEach(function (element_) {
                    element_.innerText = element.value;
                });
            });
        });

        //handle sub-select
        const swapSubSelections = document.querySelectorAll('.swap-sup-select');
        // Add a click event handler to each element
        swapSubSelections.forEach(function (element) {
            element.addEventListener('click', function () {
                var queryFrame = element.closest('.query-frame');
                var selectMain = queryFrame.querySelector('.sub-select-main');
                var selectMainInnerHTML = selectMain.innerHTML;
                selectMain.innerHTML = element.innerHTML;
                element.innerHTML = selectMainInnerHTML;

            });
        })
    }

    // on document ready initQueryFrame();
    {#document.addEventListener("DOMContentLoaded", function () {#}
    {#    initQueryFrame();#}
    {# });#}

</script>
    <style>


        .row {
            display: flex;
        {#align-items: top; /* To vertically center the content */#}
        }


    </style>

        <div id="query-frame-holder">

        </div>
        <button id="add-query-button">Add Query</button>
       <script>

        const queryFrameContent = `{{ query_frame|escapejs|safe }}`;
        // create new div in side query-frame-holder and set its innerHTML to queryFrameContent
        var queryFrameHolder = document.getElementById("query-frame-holder");
        var newDiv = document.createElement("div");
        newDiv.innerHTML = queryFrameContent;
        queryFrameHolder.appendChild(newDiv);
        initQueryFrame();

        // add on click to add query button
        var addQueryButton = document.getElementById("add-query-button");
        addQueryButton.addEventListener("click", function () {
            initQueryFrame();
            var newDiv = document.createElement("div");
            newDiv.innerHTML = queryFrameContent;
            queryFrameHolder.appendChild(newDiv);
            initQueryFrame();
        });
       </script>





{% endblock %}