<style>
    .form-info {
        display: inline-block; /* Make the div inline */
        margin-bottom: 3px;
        vertical-align: middle;
    }

    .row {
        display: flex;
    }

    .ticks > * {
        font-size: 9px;
    {#font-style: revert;#}
    }

    .popover {
        font-size: 12px;
        font-style: italic;
    }

    .vl {
        border-left: 1px solid black;
        padding-right: -1000px;
        height: 500px;
    }

    .ui-slider-range-min, .ui-state-active {
        background: #0d2e57 !important;
        color: #0d2e57;
    }
</style>


