{% extends "base.html" %}
{% load static %}

{% block content_fluid %}
    <div class="row">
        <div class="col-md-9" style="height:100%">
            {#            <h4> DATA </h4>#}
            <label for="dataset" style="display: inline-block; margin-right: 10px;">Dataset:</label>
            <select id="dataset-select" style="display: inline-block; width: 120px;" class="form-control"
                    name="dataset">
                {% for dataset in compression_datasets %}
                    <option value="{{ dataset }}">{{ dataset }}</option>
                {% endfor %}
                {#                <option value="d1">Synthetic</option>#}
                {#                <option value="d2">Temperature</option>#}
            </select>

            <div id="data-container" style="height: calc(100vh - 60px);">
            </div>

        </div>
        <script>
            function handleFormSubmit(event) {
                event.preventDefault(); // Prevent the default form submission

                // Get the selected value from the dropdown
                const selectedValue = document.getElementById('feature').value;
                // Perform actions based on the selected value

                compressionManager = new CompressionManager(compressionManager.dataset , selectedValue);
                // Add your code for the 'scarsity' option

            }
        </script>
        {##}
        {#        </div>#}
        <div id="menu" class="col-md-3" style="padding-top: 10px;">
            <h3> Feature Contamination</h3>
            {#            <h3>Show Time Series</h3>#}
            <form id="retrieveForm">

                <div
                        style="margin-left: 0; margin-right: 0; position: relative; display: flex; justify-content: space-between; align-items: center;">


                    <label for="feature" style="width: 25%; text-align: left;">&nbspFeature:</label>

                    <label for="feature" style="width: 25%; text-align: left;">&nbspLevel:</label>

                    <label for="" style="width: 30%; text-align: left;"></label>


                </div>

                <div class="form-group"
                     style="margin-left: 0; margin-right: 0; position: relative; display: flex; justify-content: space-between; align-items: center;">


                    <select id="feature" style="width: 30%;" class="form-control" name="dataType"
                            onchange="handleFormSubmit(event)">
                        <option value="scarsity">Missing Values</option>
                        <option value="repeats">Repeats</option>
                        <option value="outliers">Outliers</option>
                        <option value="delta">Delta</option>

                    </select>

                    <div id="level-dropdown" style="width: 30%;">
                        <!-- Content for the level-dropdown goes here -->
                    </div>

                    <div style="width: 30%;">
                        <button id="applyBtn"
                                class="btn btn-default pull-left">
                            Apply
                        </button>
                        <button id="showCompression"
                                class="btn btn-default pull-right" style="display:none ">
                            Show Compression
                        </button>
                    </div>


                </div>

            </form>

            <div id="compression-container" style="display: none">
                <!-- Add charts for compression data here -->
            </div>
        </div>

        <form id="token-form" style="display:none">
            {% csrf_token %}
        </form>

    </div>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    {% include "compression/compressionCode.html" %}

    <script>
        const compressionDataUrl = '{% url "compression" %}'

        function getCompressionData(dataset, feature) {
            console.log("sending request", dataset, feature)
            var form = $('#token-form');
            var data = form.serialize() + "&feature=" + feature + "&dataset=" + dataset;
            return $.ajax({
                url: compressionDataUrl,
                type: 'POST',
                data: data,
                success: function (response) {
                    console.log(response)
                }

            }).fail(function (jqXHR, textStatus, errorThrown) {
                // Code to handle failure
                console.error("Request failed: " + textStatus + ", " + errorThrown);
                // You can also display a failure message to the user here
            });
        }

        {#const compression_data_sets = {{ compression_data|safe }};#}

        let feature = 'repeats';
        let datasets = {{ compression_datasets|safe }};

        let compressionManager = new CompressionManager(datasets[0], feature, "");

        //set function for showCompression btn

        // set function for apply btn
        document.getElementById("applyBtn").addEventListener("click", function (event) {
            //prevent default
            event.preventDefault();
            let dropdown_value = document.getElementById("inside-dropdown").value
            if (dropdown_value === "default") {
                return
            }
            compressionManager.displayChart();
            {#document.getElementById("showCompression").style.display = "block";#}
            document.getElementById("compression-container").style.display = "block";
            compressionManager.displayCompression();
        });

        document.getElementById("dataset-select").addEventListener("change", function (event) {
            //prevent default
            event.preventDefault();
            compressionManager = new CompressionManager(event.target.value, feature,"");
        });


        document.getElementById("showCompression").addEventListener("click", function (event) {
            //prevent default
            event.preventDefault();
            compressionManager.displayCompression();
            document.getElementById("compression-container").style.display = "block";

        });
    </script>
{% endblock %}