<h4>
    <button id="descr-show" type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> show description
    </button>
    <button style="display: none;" id="descr-hide" type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> hide description
    </button>
</h4>
<div style="display:none;" id="descr-options">
    <p>Matrix is</p>
    <ul>
        <li>comma-separated;</li>
        <li>maximum size is 100x100.</li>
    </ul>
</div>

<script>
    $(document).ready(function () {
        $('#descr-show').click(function () {
            $('#descr-options').show();
            $('#descr-show').hide();
            $('#descr-hide').show();
        });
        $('#descr-hide').click(function () {
            $('#descr-options').hide();
            $('#descr-show').show();
            $('#descr-hide').hide();
        });
    });
</script>